<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Write new Chat ....</h3>
     <form action="/chats" method="post">
        <input type="text" placeholder="Enter your name" name="from"><br><br>
        <input type="text" name="to" id="" placeholder="To"><br><br>
        <textarea placeholder="Write your message....." name="msg" id="" cols="25" rows="3"></textarea><br><br>
        <button type="submit">Create Chat</button>
     </form>
</body>
</html>