<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h2>Edit your post</h2>
   
    <p>post  id :<%=post.id %></p>
     <p>username :<%=post.username %></p>
     <form action="/posts/<%= post.id%>?_method=PATCH" method="post">
     <textarea rows="8" cols="30" name="content" id=""><%= post.content %></textarea>
     <br><br>
     <button>Submit</button>
    </form>
</body>
</html>