<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
<body>
     <h2>Create new post</h2>
     <form action="http://localhost:8080/posts" method="post">

        <input placeholder="username"  name="username"><br><br>
        <textarea placeholder="Write your content" name="content" id=""></textarea>
        <br>
        <button >submit</button>
     </form>
</body>
</html>