<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>

<body>
    <div class="post">
        <h3 class="user"><%= post.username %></h3>
         <h4 class="content"><%= post.content %></h4>
         <br><br>
         <a href="http://localhost:8080/posts">Back</a>
    </div>
</body>
</html>