<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chats</title>
</head>
<body>
      <form action="/chats/new" method="post">
        <label for="to">To</label>
         <input type="text" name="to" id="to" placeholder="to"> <br><br>

         <label for="form">Form</label>
         <input type="text" name="form" id="form" placeholder="form" ><br><br>

         <label for="msg">message</label>s
        <textarea placeholder="Write your message....." name="msg" id="msg" cols="30" rows="5"></textarea><br><br>
        <button>submit</button>
  </form>
</body>
</html>