<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= ["hello","namaste", "hajimata"] [0] %> </h3>
    <h3> <%=1+2%> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore aspernatur nemo dolorum similique doloremque ex recusandae illo modi exercitationem, natus excepturi placeat, labore dolores magni quidem explicabo dolorem repellendus sequi?
    Perspiciatis aliquid voluptatum modi aspernatur, reprehenderit omnis ipsa vel dolorem temporibus, accusamus consequatur. Consectetur quidem ab eligendi corrupti veniam deserunt quo soluta tempora! Sequi facere, dolor optio molestias tempora similique.</p>
    <button>Click me</button>
</body>
</html>