<!DOCTYPE html>
<html lang="en">
<%- include("includes/head.ejs") %>

<body>
    <h1>Dice give Value : <%= dicVal %></h1>  
     <%if (dicVal == 6) { %>
      <h2> Nice! you got six, roll dice agin.</h2>
      <% } %> 
</body>
</html>